.padLef30Class {
    padding-left: 30%;
}

.padRig40Class {
    padding-right: 40%;
}

.padTop10Class {
    padding-top: 10%;

}

.padTop5Class {
    padding-top: 5%;
}

.padBot10Class {
    padding-bottom: 10%;
}

.padBot3Class {
    padding-bottom: 3%;
}



.indexBody {
    padding-top: 18%;
    padding-bottom: 28%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.indexButton {
    padding-top: 5%;
}

.indexFooter {
    text-align: center;
}